img {
    width: 25px;
}

thead {
    background-color: rgb(114, 249, 249);
}

td {
    width: 25px;
}

table {
    width: 500px;
    height: 248px;
}

td,
table,
th {
    /* 合并相邻的边框 */
    border: 1px solid pink;
}